# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Fortran module files
*.mod

# Compiled Static libraries
*.lai

# Executables
*.exe
*.out
*.app
.DS_Store

# QT
*.config
*.creator
*.files
*.includes
debug
release

*.sh
